#map {
    width: 100%;
    height: 329px;
}

.zoom {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
}

    .zoom #map {
        height: 100%;
        width: 100%;
    }
