<!-- footer -->
<div class="news-footer-wrap">
    <div class="fs-shape">
        <img src="~/Content/user/assets/images/shape-img/03.png" alt="fst" class="fst-1">
        <img src="~/Content/user/assets/images/shape-img/04.png" alt="fst" class="fst-2">
    </div>
    <!-- Newsletter Section Start Here -->
    <div class="news-letter">
        <div class="container">
            <div class="section-wrapper">
                <div class="news-title">
                    <h3>Liên hệ với chúng tôi qua Email để nhận được các thông báo mới nhất</h3>
                </div>
                <div class="news-form">
                    <form action="/">
                        <div class="nf-list">
                            <input type="email" name="email" placeholder="Nhập địa chỉ email">
                            <input type="submit" name="submit" value="Đăng ký ngay">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter Section Ending Here -->
    <!-- Footer Section Start Here -->
    <footer>
        <div class="footer-top padding-tb pt-0">
            <div class="container">
                <div class="row g-4 row-cols-xl-4 row-cols-md-2 row-cols-1 justify-content-center">
                    <div class="col">
                        <div class="footer-item">
                            <div class="footer-inner">
                                <div class="footer-content">
                                    <div class="title">
                                        <h4>Cấu trúc website</h4>
                                    </div>
                                    <div class="content">
                                        <ul class="lab-ul">
                                            <li><a href="#">Documentation</a></li>
                                            <li><a href="#">Feedback</a></li>
                                            <li><a href="#">Plugins</a></li>
                                            <li><a href="#">Support Forums</a></li>
                                            <li><a href="#">Themes</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-item">
                            <div class="footer-inner">
                                <div class="footer-content">
                                    <div class="title">
                                        <h4>Truy cập nhanh</h4>
                                    </div>
                                    <div class="content">
                                        <ul class="lab-ul">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Help Link</a></li>
                                            <li><a href="#">Terms & Conditions</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-item">
                            <div class="footer-inner">
                                <div class="footer-content">
                                    <div class="title">
                                        <h4>Liên kết</h4>
                                    </div>
                                    <div class="content">
                                        <ul class="lab-ul">
                                            <li><a href="#">Facebook</a></li>
                                            <li><a href="#">Twitter</a></li>
                                            <li><a href="#">Instagram</a></li>
                                            <li><a href="#">YouTube</a></li>
                                            <li><a href="#">Github</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-item">
                            <div class="footer-inner">
                                <div class="footer-content">
                                    <div class="title">
                                        <h4>Hỗ trợ</h4>
                                    </div>
                                    <div class="content">
                                        <ul class="lab-ul">
                                            <li><a href="#">Help Center</a></li>
                                            <li><a href="#">Paid with Mollie</a></li>
                                            <li><a href="#">Status</a></li>
                                            <li><a href="#">Changelog</a></li>
                                            <li><a href="#">Contact Support</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section Ending Here -->
</div>
<!-- footer -->
