
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts{
    <script src="~/Content/admin/assets/plugins/chartjs/js/Chart.min.js"></script>
    <script src="~/Scripts/js/AdminDashBoardScript.js"></script>
}

<div class="row">
    <div class="col-12 col-lg-3">
        <div class="card radius-15 bg-voilet">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h2 class="mb-0 text-white">@ViewBag.nhaTroCount</h2>
                    </div>
                    <div class="ml-auto font-35 text-white">
                        <i class="bx bxs-home"></i>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-white">Nhà trọ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card radius-15 bg-primary-blue">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h2 class="mb-0 text-white">@ViewBag.nguoiDungCount</h2>
                    </div>
                    <div class="ml-auto font-35 text-white">
                        <i class="bx bxs-user"></i>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-white">Người dùng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card radius-15 bg-rose">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h2 class="mb-0 text-white">@ViewBag.truongHocCount</h2>
                    </div>
                    <div class="ml-auto font-35 text-white">
                        <i class="bx bxs-school"></i>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-white">Trường học</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card radius-15 bg-sunset">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h2 class="mb-0 text-white">@ViewBag.khuVucCount</h2>
                    </div>
                    <div class="ml-auto font-35 text-white">
                        <i class="bx bxs-area"></i>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-white">Khu vực</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card radius-15">
    <div class="card-header border-bottom-0">
        <div class="d-lg-flex align-items-center">
            <div>
                <h5 class="mb-2 mb-lg-0">Đánh giá nhà trọ</h5>
            </div>
            <div class="ml-lg-auto mb-2 mb-lg-0">
                <div class="btn-group-round">
                    <div class="btn-group">
                        <button type="button" class="btn btn-white" id="w">Trong tuần</button>
                        <button type="button" class="btn btn-white" id="m">Trong tháng</button>
                        <button type="button" class="btn btn-white" id="a">Tất cả</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" id="graph-container">
        <div class="row row-cols-5 mt-3" id="danhgiatoday">
        </div>
        <canvas id="danhGiaChart" width="400" height="200"></canvas>
    </div>
</div>

